<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AR-VISION</title>
    <link
      href="{{ url_for('static', filename='css/style.css')  }}"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">AR-VISION</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sun Glasses</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>

      <div class="container">

        <div class="col-sm-3 m-3">
          <div class="card box-shadow">
            <img src="{{ url_for('static', filename='img/G3.jpg') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Black Aviator Unisex Sunglasses (M242BK2T|58)</h5>
              <p class="card-text">
                <br><strong>₹1,299.00</strong><br>
                You've surely heard of protecting yourself from harsh UV rays, 
                but the sun doesn't need to be shining bright. 
                UV rays also reflect off sand, water & buildings on overcast days.  
              </p>
              <a href="#" class="btn btn-primary">Buy</a>
              <a href="http://127.0.0.1:5500/templates/index1.html" class="btn btn-primary">Try</a>
              
            </div>
          </div>
        </div>



        <div class="col-sm-3 m-3">
          <div class="card box-shadow">
            <img src="{{ url_for('static', filename='img/G2.png') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Wrap Blue Mirror Polycarbonate Small Vision Express 51186 Kids Sunglasses</h5>
              <p class="card-text">
                <br><strong>MRP ₹699.00(30%)off</strong><br>
                Whether your young one is wearing smart casuals or jeans, 
                this pair of wrap blue mirror small kids sunglasses from Vision Express.
              </p>
              <a href="#" class="btn btn-primary">Buy</a>
              <a href="http://127.0.0.1:5500/templates/index2.html" class="btn btn-primary">Try</a>
            </div>
          </div>
        </div>


        <div class="col-sm-3 m-3">
          <div class="card box-shadow">
            <img src="{{ url_for('static', filename='img/G1.png') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Matte Black Gunmetal Full Rim Rectangle Eyeglasses</h5>
              <p class="card-text">
                <br><strong>₹1199</strong><br>
                Product Id 146521 Model No. VC E13757 Frame Size Medium Frame Width 134 mm Frame Dimensions 54-17-140 Frame colour Matte Black Gunmetal
               
              </p>
              <a href="#" class="btn btn-primary">Buy</a>
              <a href="http://127.0.0.1:5500/templates/index3.html" class="btn btn-primary">Try</a>
            </div>
          </div>
        </div>

      </div>





      <div class="container">

        <div class="col-sm-3 m-3">
          <div class="card box-shadow">
            <img src="{{ url_for('static', filename='img/G4.jpg') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Tortoise Full Rim Rectangle Eyeglasses</h5>
              <p class="card-text">
                <br><strong>₹1,299.00</strong><br>
                You've surely heard of protecting yourself from harsh UV rays, 
                but the sun doesn't need to be shining bright. 
                UV rays also reflect off sand, water & buildings on overcast days.  
              </p>
              <a href="#" class="btn btn-primary">Buy</a>
              <a href="http://127.0.0.1:5500/templates/index4.html" class="btn btn-primary">Try</a>
            </div>
          </div>
        </div>



        


        <div class="col-sm-3 m-3">
          <div class="card box-shadow">
            <img src="{{ url_for('static', filename='img/G1.png') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Black Aviator Unisex Sunglasses (M242BK2T|58)</h5>
              <p class="card-text">
                <br><strong>₹1,299.00</strong><br>
                You've surely heard of protecting yourself from harsh UV rays, 
                but the sun doesn't need to be shining bright. 
                UV rays also reflect off sand, water & buildings on overcast days.  
              </p>
              <a href="#" class="btn btn-primary">Buy</a>
              <a href="#" class="btn btn-primary">Try</a>
            </div>
          </div>
        </div>

      </div>




    

    








    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
